:host {
  display: block;
  width: 100%;
  text-align: center;
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}

input[type="password"] {
  width: 305px;
  height: 2em;
  margin-bottom: 10px;
  padding: 5px;
}

.strength-meter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.section {
  flex: 1; /* Allows all sections to have equal width */
  height: 20px; /* Adjust the height as required */
  background-color: gray; /* Default color */
  max-width: 100px; /* Maximum width to prevent overflow if needed */
}
  
.gray {
  background-color: gray;
}
  
.red {
  background-color: red;
}
  
.yellow {
  background-color: yellow;
}
  
.green {
  background-color: green;
}
  
.strength-message {
  font-weight: bold;
  text-align: center;
}
  
input {
  width: 305px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}