.strength-meter {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 10px 0;
  }
  
  .section {
    height: 20px;
    flex: 1;
    margin: 0 2px;
  }
  
  .gray {
    background-color: gray;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .strength-message {
    font-weight: bold;
  }
  