<div>
  <input [formControl]="passwordControl" type="password" placeholder="Enter your password" autocomplete="new-password">
  
  <div class="strength-meter">
    <div [ngClass]="{'section': true, 'gray': passwordStrength === 'empty', 'red': passwordStrength === 'weak', 'yellow': passwordStrength === 'medium', 'green': passwordStrength === 'strong'}"></div>
    <div [ngClass]="{'section': true, 'gray': passwordStrength === 'empty' || passwordStrength === 'weak', 'yellow': passwordStrength === 'medium', 'green': passwordStrength === 'strong'}"></div>
    <div [ngClass]="{'section': true, 'gray': passwordStrength === 'empty' || passwordStrength === 'weak', 'green': passwordStrength === 'strong'}"></div>
  </div>
  
  <p *ngIf="passwordControl.value" class="strength-message">Strength: {{ passwordStrength }}</p>
</div>
