.title-container {
    text-align: center;
}
  
.password-container {
    margin: 20px;
    text-align: center;
}
  
.input-heading {
  margin-bottom: 10px;
  font-size: 1.2em;
  text-align: center;
}